{% assign free_shipping_value = settings.free_shipping_threshold %}
{% assign cart_total = cart.total_price %}
{% assign progress_percentage = cart_total | times: 100 | divided_by: free_shipping_value %}
{% assign progress_percentage = progress_percentage | at_most: 100 %}

{% if cart_total >= free_shipping_value %}
  {% assign progress_color = '#28a745' %}
{% else %}
  {% assign progress_color = '#390c10' %}
{% endif %}

<free-shipping-bar>
  <div class="shipping-bar__container"
    data-free-shipping-threshold="{{ free_shipping_value }}"
    data-success-text="{{ settings.free_shipping_success_text | escape }}"
    data-before-success-text="{{ settings.free_shipping_before_success_text | escape }}"
    data-success-color="#28a745"
    data-progress-color="#390c10"
    data-cart-total="{{ cart_total }}"
  >
    {% if cart_total >= free_shipping_value %}
      <p class="b-500">{{ settings.free_shipping_success_text }}</p>
    {% else %}
      {% assign remaining_amount = free_shipping_value | minus: cart_total | money %}
      {% capture remaining_amount_text %}<span>{{remaining_amount}}</span>{% endcapture %}
      <p>{{ settings.free_shipping_before_success_text | replace: 'amount_price', remaining_amount_text }}</p>
    {% endif %}
    <div class="prog-bar__bar">
      <div class="prog-bar__bar-value" style="--width: {{ progress_percentage }}%; --bg-color: {{ progress_color }};"> </div>
    </div>
  </div>
</free-shipping-bar>